:root {
  --primarycolor: #ff274b;
  --secondarycolor: #f7bcf7;
  --lightcolor: #ffffff;
  --bgcolor-1: #171a1c;
  --bgcolor-2: #22282a;
  --padding: 8%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--lightcolor);
}
.home {
  width: 100%;
  height: 120vh;
  background-color: var(--bgcolor-1);
  display: flex;
  flex-direction: column;
}
span {
  color: var(--primarycolor);
}
h2 {
  font-size: 2.2rem;
  letter-spacing: 0.12rem;
  cursor: pointer;
}
h3 {
  font-size: 2.2rem;
  letter-spacing: 0.12rem;
  cursor: pointer;
  margin-top: 140px;
}
h4 {
  font-size: 2.2rem;
  letter-spacing: 0.12rem;
  cursor: pointer;
  margin-bottom: 60px;
}
nav {
  padding-top: 2.8rem;
  padding-left: var(--padding);
  padding-right: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0.8rem 1.5rem;
}
nav ul li a {
  color: var(--lightcolor);
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.4s;
}
nav ul li a:hover {
  color: var(--primarycolor);
}
.btn {
  background-color: var(--primarycolor);
  color: var(--lightcolor);
  text-decoration: none;
  font-weight: bold;
  padding: 0.81rem 1.78rem;
  border-radius: 30px;
  border: 2px solid transparent;
  transition: 0.4s;
}
.btn:hover {
  background-color: transparent;
  border: 2px solid var(--primarycolor);
}
.container-texts {
  position: relative;
  bottom: 70px;
}
.content {
  flex-grow: 1;
  padding: 0 var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: 4rem;
  margin-top: 7px;
  margin-bottom: 50px;
}
.skils {
  font-size: 4rem;
  margin-top: 7px;
  margin-bottom: 50px;
}
.name {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
}
cc {
  font-size: 1.25rem;
  letter-spacing: 0.12rem;
  color: var(--secondarycolor);
}
.social {
  margin-top: 3.5rem;
}
.social .img {
  margin-right: 2rem;
  width: 2.5rem;
  transition: 0.4s;
}
.social img:hover {
  transform: scale(1.2);
}
.home .convvvt {
  width: 45%;
  height: 90%;
  position: relative;
  align-self: flex-end;
}
.home .convvvt img {
  position: absolute;
  bottom: 0px;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
  transition: left 1s;
}
.home .convvvt img:hover.shape {
  left: 40%;
}
.about {
  background-color: var(--bgcolor-2);
  padding: 2rem var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about .convvvt {
  width: 50%;
}
.about .convvvt img {
  width: 90%;
}
.about .social {
  width: 35%;
}
p {
  color: var(--secondarycolor);
  letter-spacing: 1px;
  line-height: 1.8rem;
  font-size: 1rem;
  text-align: center;
}
h5 {
  font-size: 1.37rem;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  text-align: center;
}
.services {
  background-color: var(--bgcolor-1);
  padding: 2rem var(--padding);
}
.text-center {
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
}
.card {
  width: 300px;
  background-color: var(--bgcolor-2);
  border-radius: 20px;
  padding: 1.3rem 2rem;
  text-align: center;
  margin: 10px;
}
.card em {
  font-size: 5.12rem;
  text-align: center;
  color: var(--primarycolor);
  margin: 2rem;
}
.card:hover {
  transform: scale(1.2);
  transition: all 0.8s ease;
}
.skills .container-images img {
  width: 600px;
  padding-right: 100px;
}
.skills .container-images {
  width: 35%;
}
.skills {
  background-color: var(--bgcolor-2);
  padding: 2rem var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.skills .container-skills {
  width: 500%;
}
.skill {
  width: 100px;
  height: 100px;
  background-color: var(--lightcolor);
  border-radius: 50%;
  margin: 0 2rem 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill img {
  width: 70%;
}
footer {
  padding: 2rem var(--padding);
  background-color: var(--bgcolor-1);
}
footer .content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .content-footer p {
  color: var(--lightcolor);
  text-align: center;
  width: 500px;
  margin-top: 1rem;
}
footer .content-footer .end {
  color: var(--primarycolor);
  margin-top: 1rem;
}
#menu {
  display: none;
  position: relative;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  user-select: none;
}
#menu span {
  display: block;
  width: 33px;
  height: 4px;
  background-color: var(--lightcolor);
  user-select: none;
  border-radius: 6px;
  transform-origin: 0 0;
  transition: 0.4s;
  margin-bottom: 5px;
}

#menu.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}
#menu.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}
#menu.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}
#menu.is-active span {
  background-color: var(--primarycolor);
}
@media screen and (max-width: 575px) {
  :root {
    --padding: 1.5rem;
  }
  html {
    font-size: 13px;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    padding-top: 0;
    background-color: var(--bgcolor-1);
    border-bottom: 1px solid var(--bgcolor-2);
    z-index: 100;
  }
  .convvvt {
    display: none;
  }
  nav > a {
    display: none;
  }
  nav ul {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bgcolor-2);
  }
  nav ul.is-active {
    display: block;
  }
  nav ul li {
    display: block;
    text-align: center;
    margin: 50px;
  }
  .container-texts {
    bottom: 0;
  }
  .social {
    margin-top: 70px;
  }
  h3 {
    margin-bottom: 70px;
  }
  .social a {
    text-decoration: none;
  }
  #menu {
    display: block;
  }
  h1 {
    font-size: 4rem;
  }
  .Abouy {
    font-size: 4rem;
    text-align: center;
  }
  .about .social {
    width: 100%;
  }
  .box {
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .skills .container-images img {
    display: none;
  }
  content-skills {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .skill {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  footer .content-footer p {
    width: 100%;
  }
  .skils {
    text-align: center;
    font-size: 80px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1110px) {
  :root {
    --padding: 1.5rem;
  }
  html {
    font-size: 13px;
  }
  .skils {
    text-align: center;
    font-size: 80px;
  }
  .skill {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  .Abouy {
    text-align: center;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    padding-top: 0;
    background-color: var(--bgcolor-1);
    border-bottom: 1px solid var(--bgcolor-2);
    z-index: 100;
  }
  .convvvt {
    display: none;
  }
  nav > a {
    display: none;
  }
  nav ul {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bgcolor-2);
  }
  nav ul.is-active {
    display: block;
  }
  nav ul li {
    display: block;
    text-align: center;
    margin: 50px;
  }
  .container-texts {
    bottom: 0;
  }
  .social {
    margin-top: 30px;
  }
  h3 {
    margin-bottom: 30px;
  }
  content {
    padding-top: 82px;
  }
  .social a {
    text-decoration: none;
  }
  #menu {
    display: block;
  }
  h1 {
    font-size: 4rem;
  }
  .about .social {
    width: 100%;
  }
  .box {
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .skills .container-images img {
    display: none;
  }
  content-skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skill {
    width: 80px;
    height: 80px;
  }
  footer .content-footer p {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 991px) {
  :root {
    --padding: 1.5rem;
  }
  html {
    font-size: 13px;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    padding-top: 0;
    background-color: var(--bgcolor-1);
    border-bottom: 1px solid var(--bgcolor-2);
    z-index: 100;
  }
  .convvvt {
    display: none;
  }
  nav > a {
    display: none;
  }
  nav ul {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bgcolor-2);
  }
  nav ul.is-active {
    display: block;
  }
  nav ul li {
    display: block;
    text-align: center;
    margin: 50px;
  }
  .container-texts {
    bottom: 0;
  }
  .social {
    margin-top: 30px;
  }
  h3 {
    margin-bottom: 30px;
  }
  content {
    padding-top: 82px;
  }
  .social a {
    text-decoration: none;
  }
  #menu {
    display: block;
  }
  h1 {
    font-size: 4rem;
  }
  .about .social {
    width: 100%;
  }
  .box {
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .skills .container-images img {
    display: none;
  }
  content-skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skill {
    width: 80px;
    height: 80px;
  }
  footer .content-footer p {
    width: 100%;
  }
}
